* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body h1{
    margin: 1rem 0 ;
    color: darkgreen;
}
#canvas {
    margin: auto;
}
